
*{
    font-family: 'Work Sans', sans-serif;
}

body, html { 

    position: relative;
    background-attachment: fixed;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    

}

/* Header Build */


.headerText{

    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 10px;

}

#header{

    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
}

.headerRow{

    position: sticky; 
    top: 50;
}

.newPlayerWrapper{

    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 20px;

}

#newPlayerInput{

    border-radius: 4px;
    background-color: transparent;
}
#newPlayerInput::placeholder{

    color:green; 

}

.players{

    display: flex;
    

}

.players > span{

    /* border: 1px gray solid;
    background-color: gray; */

    margin-top: 20px;
    margin-bottom: 10px;

}

.breaker{ 
    border: solid white;
    height: 5px;
    opacity: 80%; 
    position: sticky; 
    top:0;
}
.breaker2{
    border: solid white;
    height: 5px;
    opacity: 80%; 
    position: sticky; 
    bottom: 0;
}

.scrollable { 
    height: 600px; 
    overflow-y: scroll;
}


::-webkit-scrollbar{

	display: none;

}


/* Column and Row Build */


.row-sml-score{

    background-color: gray;
    border-radius: 4px;
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.col-sm-1 > span{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #64e105;
    color: white; 
    padding: 0px 6px 0px 6px; 
}



/* .column { 

    display: flex;
    justify-content: center;
    flex-direction: row;

} */





















