
body, html { 

    position: relative;
    background-attachment: fixed;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

/* Header Build */

#header{

    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.newPlayerWrapper{

    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 20px;

}

#newPlayerInput{

    border-radius: 4px;
    background-color: transparent;
}
#newPlayerInput::placeholder{

    color:green; 

}


/* Column and Row Build */


.row{




}


/* .column { 

    display: flex;
    justify-content: center;
    flex-direction: row;

} */





















