
*{
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
body, html { 
    position: relative;
    background-attachment: fixed;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Header Build */
/* 
*/
.headerText{
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 10px;
}
#header{
    margin-top: 50px;
    display: flex;
    justify-content: space-around; 
}
.headerRow{
    position: sticky; 
    top: 50;
}
.newPlayerEntry{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 20px;
}
#newPlayerInput{
    border-radius: 4px;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 25px;
}
#newPlayerInput::placeholder{
    color:#459805;
}
#tee-box-wrapper{
    display: flex;
    justify-content: center;
    margin-left: 18px;
    margin-bottom: 20px;
}
select{
    cursor: pointer;
    color: #459805;
    background-color: aliceblue;
}
.players > span{
    margin-top: 20px;
    margin-bottom: 10px;
}
.breaker{ 
    border: solid white;
    height: 5px;
    opacity: 80%; 
    position: sticky; 
    top:0;
}
.breaker2{
    border: solid white;
    height: 5px;
    opacity: 80%; 
    position: sticky; 
    bottom: 0;
}
.scrollable { 
    height: 600px; 
    overflow-y: scroll;
}
::-webkit-scrollbar{
	display: none;
}
#course-select{
    color:#459805;
    margin-bottom: 5px;
}
#newPlayerText{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}
.newPlayerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: 45px;
    margin-right: 5px;
}
#newPlayerContent{
    display: flex;
    flex-direction: row;
}
/* Column and Row Build */
/* 
*/
#rowNumber{
    width: 100px;
    height: max-content;  
}
.row-sml-score{
    background-color: #dddd;
    opacity: 75%;
    border-radius: 4px;
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 1px;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
}
.row-sml-current{
    margin-left: 39px;
    padding-left: 3px; 
    padding-right: 3px;
    border-radius: 4px;
    background-color: #dddd;
    opacity: 75%;
    display: flex;
    justify-content: center;
}
#currentScoreWrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.currentScoreDiv{
    margin-bottom: 130px;
    margin-top: 20px;
}
.col-sm-1 > span{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #64e105;
    color: white; 
    padding: 0px 6px 0px 6px; 
}
.golfTerms{
    width:80px; 
}

@media only screen and (max-width: 750px){
    #rowNumber{
        max-width: 75px;
        height: max-content;  
    }
    .golfTerms{
        width: 70px;; 
    }
    #newPlayerText{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
    }
    .newPlayerWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        margin-left: 20px;
    }
    #newPlayerContent{
        display: flex;
        flex-direction: row;
    }
}





















